#activity
	dt
		img.gravatar
			float: left
			margin: 4px 1em 1em 0
		clear: left
.icon-gravatar
	float: left
	margin-right: 4px
.journal
	clear: left
.journal-link
	float: right
.hascontextmenu
	cursor: context-menu
.sample-data
	border: 1px solid #ccc
	border-collapse: collapse
	margin: 0.5em
	td
		border: 1px solid #ccc
		padding: 2px 4px
	tr
		&:first-child
			td
				font-weight: bold
				text-align: center
