#login-form
	margin: 5em auto 2em auto
	padding: 20px
	width: 340px
	border: 1px solid #ccc
	box-sizing: border-box
	background: #f9f9f9
	label
		display: block
		margin-bottom: 5px
		font-weight: bold

	input[type=text], input[type=password]
		border-radius: 3px
		margin-bottom: 15px
		padding: 7px
		display: block
		width: 100%
		box-sizing: border-box

	label[for=autologin]
		font-weight: normal

	a.lost_password
		float: right
		font-weight: normal

	input#openid_url
		background: #fff url(../images/icons/UI/openid-bg.gif) no-repeat 4px 50%
		padding-left: 24px !important

	input#login-submit
		display: block
		box-sizing: border-box
		width: 100%
		font-weight: bold
