//General rules
#list-left
	float: left
	width: 49%
.splitcontentright
	float: right
	width: 49%
#list-right
	float: right
	width: 49%

.mypage-box

	padding: 8px
	line-height: 1.5em
	>.contextual
		opacity: 0
		transition: opacity 0.2s
	&:hover
		>.contextual
			opacity: 1

//Day/night mode affected rules
.night-mode
	.mypage-box
		border: 1px solid #4e4e4e
	.block-receiver
		background: #393939
		border: 1px dotted #5f5f5f
	.dragging
		.block-receiver
			border: 1px dotted #5f5f5f

.day-mode
