tr.project
	td.name
		a
			white-space: nowrap
tr.project.closed
	a
tr.project.archived
	a
tr.project.idnt
	td.name
		span
			background: url(../images/icons/UI/bullet_arrow_right.png) no-repeat 0 50%
			padding-left: 16px
tr.project.idnt-1
	td.name
		padding-left: 0.5em
tr.project.idnt-2
	td.name
		padding-left: 2em
tr.project.idnt-3
	td.name
		padding-left: 3.5em
tr.project.idnt-4
	td.name
		padding-left: 5em
tr.project.idnt-5
	td.name
		padding-left: 6.5em
tr.project.idnt-6
	td.name
		padding-left: 8em
tr.project.idnt-7
	td.name
		padding-left: 9.5em
tr.project.idnt-8
	td.name
		padding-left: 11em
tr.project.idnt-9
	td.name
		padding-left: 12.5em
