//General rules
html
	hr
		//width: 95%
		position: relative
		left: -6px

	#content
		padding-left: 0
		margin-top: 0px
		padding: 12px 10px 10px 10px

	div.wiki
		ul.toc
			width: 50%

	.icon::before
		font-family: Material Icons

//// BODY COLOR ////
.day-mode
	background: $contentContainerBgColor
.night-mode
	background: $contentContainerBgColorNight

//// GLOBAL TEXT COLOR ////
.day-mode
	#main
		a
			color: $textColor
		a:visited
			color: $visitedLinkColor
		a:hover
			color: $hoverLinkColor
		.icon::before
			color: black

.night-mode
	#main
		a
			color: $textColorNight
		a:visited
			color: $visitedLinkColorNight
		a:hover
			color: $hoverLinkColorNight
		.icon::before
			color: black
		.icon::before
			color: white

//// SPLIT CONTENT CONTAINERS ////
.splitcontent
	overflow: auto

.splitcontentleft
	float: left
	width: 49%
	padding: 5px

.day-mode .splitcontentleft
	background: #ececec
	border: 1px solid #cfcfcf

.splitcontentright
	float: right
	width: 49%
	padding: 5px

.day-mode .splitcontentright
	background: #ececec
	border: 1px solid #cfcfcf

//// GLOBAL LIST VIEW TABLES ////


table.list, table.list th
	background-color: #636363
	border: 1px solid #4e4e4e
	color: white

table:not(.progress).list tr
	height: 28px
	border-bottom: 1px solid #e4e4e4

//Odd even rows
.day-mode table.list:not(.odd-even) tbody tr:nth-child(2n+1)
	background-color: #f5f5f5
.day-mode table.list:not(.odd-even) tbody tr:nth-child(2n)
	background-color: #e9e9e9

.night-mode table.list:not(.odd-even) tbody tr:nth-child(2n+1)
	background-color: #363636
.night-mode table.list:not(.odd-even) tbody tr:nth-child(2n)
	background-color: #595959

table.list, table.list th
	background-color: #f5f5f5
	border: 1px solid #e4e4e4
	color: #000
	//height: 28px
	border-bottom: 1px solid #e4e4e4

//// GLOBAL TABLE VIEW TABLES ////
table.list
	//border: 1px solid #e4e4e4
	border-collapse: collapse
	width: 100%
	margin-bottom: 4px
	th
		padding: 4px
		white-space: nowrap
		font-weight: bold

	td
		text-align: center
		vertical-align: middle

	td.id
		width: 2%
		text-align: center

	td.name, td.description, td.subject, td.comments, td.roles
		text-align: left

	td.attachments
		text-align: left
		a
			display: block

	td.tick
		width: 15%

	td.checkbox
		width: 15px
		padding: 2px 0 0 0
		input
			padding: 0px

	td.buttons
		white-space: nowrap
		text-align: right
		a
			margin-right: 0.6em
		img
			vertical-align: middle

	td.reorder
		width: 15%
		white-space: nowrap
		text-align: center

	table.progress
		td
			padding-right: 0px
	caption
		text-align: left
		padding: 0.5em 0.5em 0.5em 0
	tbody
		tr
			&:hover
		tr.group
			&:hover
	&:not(.odd-even)
		tbody
			tr
				&:nth-child(odd)
				&:nth-child(even)

.table-list
	border: 1px solid #e4e4e4
	border-collapse: collapse
	width: 100%
	margin-bottom: 4px
	div.buttons
		width: 15%

.table-list-header
	padding: 4px
	white-space: nowrap
	font-weight: bold

///// CONTEXTUALS, BUTTONS & OTHER FORMAT BUTTONS
//Other formats
p.other-formats
	text-align: right
	padding-top: 20px

.other-formats
	span
		&+span
			&:before
				content: "| "

a.atom::before
	content: $atom
	display: inline-block
	font-family: $iconfont
	vertical-align: -6%
a.csv::before
	content: $csv
	display: inline-block
	font-family: $iconfont
	vertical-align: -6%
a.pdf::before
	content: $pdf
	display: inline-block
	font-family: $iconfont
	vertical-align: -6%

.other-formats a
	padding: 3px 4px 1px 3px

.day-mode .other-formats a
	background: #dadada
	border: 1px solid #3e3e3e
	&:hover
		background: white

.night-mode .other-formats a
	background: #1d1d1d
	border: 1px solid #3e3e3e
	&:hover
		background: grey

//Contextuals
.contextual
	float: right
	white-space: nowrap
	line-height: 1.4em
	font-size: 0.9em
	.icon
		padding-top: 2px
		padding-bottom: 3px
	input
		font-size: 0.9em
	select
		font-size: 0.9em
	>*
		&:not(:first-child)
			margin-left: 5px

.contextual a, .buttons a, .contextual span
	padding: 1px 7px 2px 5px !important
	text-decoration: none

.day-mode .contextual a, .day-mode #query_form .buttons a, .day-mode .contextual span
	border: 1px solid #ccc
	background: #dadada
	border-radius: 4px
	&:hover
		background: white

.night-mode .contextual a, .night-mode .buttons a, .night-mode .contextual span
	border: 1px solid #3e3e3e
	background: #1d1d1d
	padding: 3px 7px 3px 5px !important
	&:hover
		background: white

//Buttons
.toggle-multiselect
	padding-left: 16px
	margin-left: 0
	margin-right: 5px
	cursor: pointer
.buttons
	font-size: 0.9em
	margin-bottom: 1.5em
	padding: 0px 1px 0px 1px
	>.icon
		&:not(:first-child)
			margin-left: 5px

//// QUICK SEARCH BAR ////
#quick-search
	float: right
	float: right
	position: sticky
	top: 16px
	z-index: 9999
	right: 6px
	padding-right: 12px
	#q
		width: 130px
		height: 16px
		box-sizing: border-box
		vertical-align: middle
		border-bottom-right-radius: 0
		border-top-right-radius: 0
		padding-left: 14px

//// GRAVATAR & INITIALS////
img.gravatar, div.gravatar
	vertical-align: middle
	border: 1px solid black
	display: table
	float: left
	a
		font-weight: bold
		font-size: 14px
		display: table-cell
		text-decoration: none
		cursor: default
		text-align: center
		vertical-align: middle

div.gravatar-with-child
	position: relative
	>img.gravatar
		&:nth-child(2)
			position: absolute
			top: 30px
			left: 30px
			border-radius: 20%
			border: 2px solid rgba(255, 255, 255, 0.9)

//// ATTACHMENTS ////
.attachments_fields
	input.description
		margin-left: 4px
		width: 340px
	>span
		display: block
		white-space: nowrap
	input.filename
		border: 0
		width: 250px
		height: 1.8em
	.ajax-waiting
		input.filename
			background: url(../images/icons/UI/hourglass.png) no-repeat 0px 50%
	.ajax-loading
		input.filename
			background: url(../images/icons/UI/loading.gif) no-repeat 0px 50%
	div.ui-progressbar
		width: 100px
		height: 14px
		margin: 2px 0 -5px 8px
		display: inline-block
#existing-attachments
	input.description
		margin-left: 4px
		width: 340px
	>span
		display: block
		white-space: nowrap
	.filename
		border: 0
		width: 250px

//// MESSAGE CONTAINERS ////
.message, div.message.reply, .journal, div#activity dl
	margin-bottom: 10px
	background: #f3f2f2
	padding: 8px
	margin-bottom: 10px
	border: 1px solid #d7d7d7

#filters legend
	color: black

#main
ul.flat
	margin: 0
	padding: 0
	li
		list-style-type: none
		margin: 0px 2px 0px 0px
		padding: 0px 0px 0px 0px
#main.nosidebar
	#sidebar
		display: none
	#content
		width: 100%
		width: auto
		border-right: 0

.diff_out
	background: #fcc
	span
		background: #faa
.diff_in
	background: #cfc
	span
		background: #afa
.text-diff
	padding: 1em
	border: 1px solid #e4e4e4

.handle
	cursor: move
#my-page
	.list
		th.checkbox
			display: none
		td.checkbox
			display: none

tr.ui-sortable-helper
	border: 1px solid #e4e4e4

a.remove-upload
	&:hover
		text-decoration: none !important
.existing-attachment.deleted
	.filename
		text-decoration: line-through
div.fileover
div.attachments
	margin: 12px 0
	p
		margin: 4px 0 2px 0
	img
		vertical-align: middle
	span.author
		font-size: 0.9em

#search-form
	fieldset
		p
			margin: 0.2em 0

span.required
.summary
	font-style: italic
.check_box_group
	display: block
	width: 95%
	max-height: 300px
	overflow-y: auto
	padding: 2px 4px 4px 2px
	background: #fff
	border: 1px solid #9EB1C2
	border-radius: 2px
	label
		font-weight: normal
		margin-left: 0px !important
		text-align: left
		float: none
		display: block
		width: auto
.check_box_group.bool_cf
	border: 0
	background: inherit
	label
		display: inline

div.thumbnails
	margin: 0.6em
	div
		background: #fff
		border: 2px solid #ddd
		display: inline-block
		margin-right: 2px
	img
		margin: 3px
		vertical-align: middle
#history
	div.thumbnails
		margin-left: 2em

em.info
	font-style: normal
	font-size: 90%
	display: block
em.info.error
	padding-left: 20px
	background: url(../images/icons/UI/exclamation.png) no-repeat 0 50%
textarea.text_cf
	width: 95%
	resize: vertical
input.string_cf
	width: 95%
input.link_cf
	width: 95%
select.bool_cf
	width: auto !important
#tab-content-modules
	fieldset
		p
			margin: 3px 0 4px 0
#tab-content-users
	.splitcontentleft
		width: 64%
	.splitcontentright
		width: 34%
	fieldset
		padding: 1em
		margin-bottom: 1em
		legend
			font-weight: bold
		label
			display: block
	#principals
		max-height: 400px
		overflow: auto
#users_for_watcher
	height: 200px
	overflow: auto
	label
		display: block
input#principal_search
	width: 90%
input#user_search
	width: 90%
.roles-selection
	label
		display: inline-block
		width: 210px

.role-visibility
	padding-left: 2em
.objects-selection
	height: 300px
	overflow: auto
	margin-bottom: 1em
	label
		display: block
	>div
		column-count: auto
		column-width: 200px
		-webkit-column-count: auto
		-webkit-column-width: 200px
		-webkit-column-gap: 0.5rem
		-webkit-column-rule: 1px solid #ccc
		-moz-column-count: auto
		-moz-column-width: 200px
		-moz-column-gap: 0.5rem
		-moz-column-rule: 1px solid #ccc
#user_group_ids
	column-count: auto
	column-width: 200px
	-webkit-column-count: auto
	-webkit-column-width: 200px
	-webkit-column-gap: 0.5rem
	-webkit-column-rule: 1px solid #ccc
	-moz-column-count: auto
	-moz-column-width: 200px
	-moz-column-gap: 0.5rem
	-moz-column-rule: 1px solid #ccc

img.ui-datepicker-trigger
	cursor: pointer
	vertical-align: middle
	margin-left: 4px

.hidden-for-sighted
	position: absolute
	left: -10000px
	top: auto
	width: 1px
	height: 1px
	overflow: hidden

#account
	float: right
#admin-menu
	ul
		margin: 0
		padding: 0
	li
		margin: 0
		padding: 0 0 6px 0
		list-style-type: none
	a
		line-height: 1.7em
	a.selected
		//padding-left: 20px !important
		background-position: 2px 40%

.ui-corner-all
	//border: 0 !important
	border-bottom-right-radius: 0 !important
	border-top-right-radius: 0 !important
	border-top-left-radius: 0 !important
	border-bottom-left-radius: 0 !important

div.modal
	background: #fff
	z-index: 50
	h3.title
		display: none

	p.buttons
		text-align: right
		margin-bottom: 0

	.box
		p
			margin: 0.3em 0

.clear
	&:after
		content: "."
		display: block
		height: 0
		clear: both
		visibility: hidden

.mobile-show
	display: none

a.issue.closed
	text-decoration: line-through
	background: #0b814f

	&:link
		text-decoration: line-through

	&:visited
		text-decoration: line-through

a.project.closed
	&:link
	&:visited

a.user.locked
	&:link
	&:visited

a.collapsible
	padding-left: 12px
	background: url(../images/icons/UI/arrow_expanded.png) no-repeat -3px 40%

a.collapsible.collapsed
	background: url(../images/icons/UI/arrow_collapsed.png) no-repeat -5px 40%

a#toggle-completed-versions

div.buttons
	white-space: nowrap
	text-align: right
	a
		margin-right: 0.6em
	img
		vertical-align: middle

#role-permissions-trackers
	table.list
		th
			white-space: normal
.table-list-cell
	display: table-cell
	vertical-align: top
	padding: 2px

tr.entry
	border: 1px solid #f8f8f8
	td
		white-space: nowrap
	td.filename
		width: 30%
		text-align: left
	td.filename_no_report
		width: 70%
		text-align: left
	td.size
		text-align: right
		font-size: 90%
	td.revision
		text-align: center
	td.author
		text-align: center
	td.age
		text-align: right
tr.entry.file
	td.filename
		a
			margin-left: 16px
	td.filename_no_report
		a
			margin-left: 16px

tr.changeset
	height: 20px
	ul
		margin-top: 0px
		margin-bottom: 0px
	td.revision_graph
		width: 15%
	td.author
		text-align: center
		width: 15%
		white-space: nowrap
	td.committed_on
		text-align: center
		width: 15%
		white-space: nowrap
ol
	margin-top: 0px
	margin-bottom: 0px
table.files
	tbody
		th
			text-align: left
	tr.file
		td.filename
			text-align: left
			padding-left: 24px
		td.digest
			font-size: 80%
table.members
	td.roles
		width: 45%
table.memberships
	td.roles
		width: 45%
tr.message
	height: 2.6em
	td.created_on
		white-space: nowrap
	td.last_message
		font-size: 80%
		white-space: nowrap
tr.message.sticky
	td.subject
		font-weight: bold
tr.version.closed
	a
tr.version
	td.name
		padding-left: 20px
	td.date
		text-align: center
		white-space: nowrap
	td.status
		text-align: center
		white-space: nowrap
	td.sharing
		text-align: center
		white-space: nowrap
tr.member
	td.icon-user
		background: transparent
tr.user
	td
		width: 13%
		white-space: nowrap
	td.email
		width: 18%
td.username
	text-align: left !important
	img.gravatar
		margin: 0 0.5em 0 0
		vertical-align: top
td.firstname
	text-align: left !important
td.lastname
	text-align: left !important
td.email
	text-align: left !important
tr.user.locked
	a
tr.user.registered
	a
table.permissions
	td.role
		font-size: 90%
		font-weight: normal !important
		text-align: center
		vertical-align: bottom
tr.time-entry
	text-align: center
	white-space: nowrap
	td.issue
		text-align: left
		white-space: normal
	td.comments
		text-align: left
		white-space: normal
	td.subject
		text-align: left
		white-space: normal
	td.activity
		text-align: left
		white-space: normal
td.hours
	text-align: right
	font-weight: bold
	padding-right: 0.5em
	.hours-dec
		font-size: 0.9em
table.plugins
	td
		vertical-align: middle
	td.configure
		text-align: right
		padding-right: 1em
	span.name
		font-weight: bold
		display: block
		margin-bottom: 6px
	span.description
		display: block
		font-size: 0.9em
	span.url
		display: block
		font-size: 0.9em

table.list.enumerations
	table-layout: fixed
	margin-bottom: 2em
tr.group
	td
		padding: 0.8em 0 0.5em 0.3em
		border-bottom: 1px solid #ccc
		text-align: left
	span.name
		font-weight: bold
	span.count
		font-weight: bold
		position: relative
		top: -1px
		font-size: 10px
		background: #9DB9D5
		padding: 0px 6px 1px 6px
		border-radius: 3px
		margin-left: 4px
	span.totals
		font-size: 80%
		.value
			font-weight: bold
	a.toggle-all
		font-size: 80%
		display: none
		float: right
		margin-right: 4px
	&:hover
		a.toggle-all
			display: inline
a.toggle-all
	&:hover
		text-decoration: none
table
	td
		padding: 2px
	p
		margin: 0
.odd
#issue-changesets
	div.changeset
		&:nth-child(odd)
		&:nth-child(even)
.even
tr.builtin
	td.name
		font-style: italic
a.sort
	padding-right: 16px
	background-position: 100% 50%
	background-repeat: no-repeat
a.sort.asc
	background-image: url(../images/icons/UI/sort_asc.png)
a.sort.desc
	background-image: url(../images/icons/UI/sort_desc.png)
table.boards
	a.board
		background: url(../images/icons/UI/comment.png) no-repeat 0% 50%
		padding-left: 20px
	td.last-message
		text-align: left
		font-size: 80%
div.table-list.boards
	.table-list-cell.name
		width: 30%
table.messages
	td.last_message
		text-align: left
#query_form_content
	font-size: 90%
.query_sort_criteria_count
	display: inline-block
	min-width: 1em
table.query-columns
	border-collapse: collapse
	border: 0
	td.buttons
		vertical-align: middle
		text-align: center
		input[type=button]
			width: 35px
.query-totals
	text-align: right
	>span
		&:not(:first-child)
			margin-left: 0.6em
	.value
		font-weight: bold
body.controller-issues
	.query-totals
		margin-top: -2.3em
td.center
	text-align: center
#watchers
	select
		width: 95%
		display: block
	a.delete
		opacity: 0.4
		margin-left: 5px
		&:hover
			opacity: 1
	img.gravatar
		margin: 0 4px 2px 0

span#watchers_inputs
	overflow: auto
	display: block
span.search_for_watchers
	display: block
	font-size: 80%
	line-height: 2.5em
span.add_attachment
	font-size: 80%
	line-height: 2.5em
	a
		padding-left: 16px
		background: url(../images/icons/UI/bullet_add.png) no-repeat 0 50%
.highlight
.highlight.token-1
.highlight.token-2
.highlight.token-3
.box
	padding: 6px
	margin-bottom: 10px
	line-height: 1.5em
	//border: 1px solid #e4e4e4
	word-wrap: break-word
	//border-radius: 3px
div.square
	border: 1px solid #999
	float: left
	margin: .3em .4em 0 .4em
	overflow: hidden
	width: .6em
	height: .6em

body.controller-versions.action-show
	div#roadmap
		.related-issues
			width: 70%
div#version-summary
	float: right
	width: 28%
	margin-left: 16px
	margin-bottom: 16px
	fieldset
		margin-bottom: 1em
	fieldset.time-tracking
		table
			width: 100%
	th
		text-align: right
	td.total-hours
		text-align: right
table#time-report
	td.hours
		text-align: right
		padding-right: 0.5em
	th.period
		text-align: right
		padding-right: 0.5em
	th.total
		text-align: right
		padding-right: 0.5em
	tbody
		tr.subtotal
			font-style: italic
			td.hours
		tr.total
			font-weight: bold
			border-top: 1px solid #e4e4e4
	.hours-dec
		font-size: 0.9em
input#issue_subject
	width: 99%
input#document_title
	width: 99%
select#issue_done_ratio
	width: 95px
ul.projects
	margin: 0
	padding-left: 1em
	ul
		padding-left: 1.6em
	li
		list-style-type: none
ul.projects.root
	margin: 0
	padding: 0
#projects-index .project.root.leaf::before
		font-family: $iconfont
		content: $projects
		margin-right: 5px
		text-decoration: none !important
		display: inline-block
		vertical-align: -10%
#projects-index
	column-count: auto
	column-width: 400px
	-webkit-column-count: auto
	-webkit-column-width: 400px
	-webkit-column-gap: 0.5rem
	-moz-column-count: auto
	-moz-column-width: 400px
	-moz-column-gap: 0.5rem
	ul.projects
		li.root
			>ul.projects
				border-left: 3px solid #e0e0e0
				padding-left: 1em
			background: #e7e7e7

			//experimental
			display: block
			-webkit-box-sizing: border-box
			box-sizing: border-box
			-webkit-box-flex: 0
			-ms-flex: 0 1 auto
			flex: 0 1 auto
			width: 100%
			margin-right: 10px
			padding: 15px 15px
			border: 1px solid #ccc
			background-color: #f9f9f9
			color: #555
			min-height: 100%
			margin-bottom: 10px

		li.child
			margin-top: 1em
		div.root
			a.project
				font-family:	$globalFontTitles
				font-weight: bold
				font-size: 16px
				margin: 0 0 10px 0
				border-bottom: 1px dashed #aaa
				width: 100%
				display: block
	a.icon-fav
		padding-left: 0
		padding-right: 20px
		background-position: 98% 50%
#notified-projects
	>ul
		max-height: 250px
		overflow-y: auto
#tracker_project_ids
	>ul
		max-height: 250px
		overflow-y: auto
#custom_field_project_ids
	>ul
		max-height: 250px
		overflow-y: auto
#related-issues
	li
		img
			vertical-align: middle
ul.properties
	padding: 0
	font-size: 0.9em
	li
		list-style-type: none
		span
			font-style: italic
.total-hours
	font-size: 110%
	font-weight: bold
	span.hours-int
		font-size: 120%
.autoscroll
	overflow-x: auto
	padding: 1px
	margin-bottom: 1.2em
	position: relative
#user_login
	width: 90%
#user_firstname
	width: 90%
#user_lastname
	width: 90%
#user_mail
	width: 90%
#my_account_form
	select
		width: 90%
#user_form
	select
		width: 90%
#user_identity_url
	width: 90%
#workflow_copy_form
	select
		width: 200px
table.transitions
	td.enabled
		background: #bfb
#workflow_form
	table
		select
			font-size: 90%
			max-width: 100px
table.fields_permissions
	td.readonly
		background: #ddd
	td.required
		background: #d88
select.expandable
	vertical-align: top
textarea#custom_field_possible_values
	width: 95%
	resize: vertical
textarea#custom_field_default_value
	width: 95%
	resize: vertical
.sort-handle
	display: inline-block
	vertical-align: middle
	width: 16px
	height: 16px
	//background: url(../images/icons/UI/reorder.png) no-repeat 0 50%
	cursor: move
input#content_comments
	width: 99%
span.pagination
	margin-left: 3px
	display: block
	>span
		white-space: nowrap
.pagination
	ul.pages
		margin: 0 5px 0 0
		padding: 0
		display: inline
		li
			display: inline-block
			padding: 0
			border: 1px solid #ddd
			margin-left: -1px
			line-height: 2em
			margin-bottom: 1em
			white-space: nowrap
			text-align: center
			a
				padding: 3px 8px
			span
				padding: 3px 8px
			&:first-child
				border-top-left-radius: 4px
				border-bottom-left-radius: 4px
			&:last-child
				border-top-right-radius: 4px
				border-bottom-right-radius: 4px
		li.current
		li.page
			&:hover
			a
				&:hover
					text-decoration: inherit
				&:active
					text-decoration: inherit
	.per-page
		span.selected
			font-weight: bold
