//All icons
.icon
	background-position: 0% 50%
	background-repeat: no-repeat
	padding-left: 9px
	font-size: 16px
	&::before
		padding-right: 6px
		font-family: $iconfont
		display: inline-block
		vertical-align: -2px

.icon-only
	background-position: 0% 50%
	background-repeat: no-repeat
	padding-left: 16px
	display: inline-block
	width: 10px
	height: 16px
	overflow: hidden
	padding-top: 0
	padding-bottom: 0
	font-size: 18px
	vertical-align: middle
	font-family: 'Material Icons'

.sort-handle::before
	font-family: $iconfont
	content: "\e8d5"
	position: relative
	top: -6px
	font-size: 18px

.icon-only.icon-settings::before
	content: $settings
.icon-only.icon-close::before
	content: $delete
.icon-only.icon-del::before
	content: $delete
.icon.icon-user.users::before
	content: $users
.icon.icon-user::before
	content: '\e851'
.icon.icon-group::before
	content: $groups
.icon.icon-roles.roles::before
	content: $rolespermissions
.icon.icon-issue-edit.issue-statuses::before
	content: $issuestatuses
.icon.icon-projects::before
	content: $projects
.icon.icon-issue.trackers::before
	content: $trackers
.icon.icon-workflows.workflows::before
	content: $workflow
.icon.icon-custom-fields.custom-fields::before
	content: $customfields
.icon.icon-list.enumerations::before
	content: $enumerators
.icon.icon-settings.settings::before
	content: $settings
.icon.icon-server-authentication.ldap-authentication::before
	content: $LDAP
.icon.icon-plugins.plugins::before
	content: $plugins
.icon.icon-help.info::before
	content: $information
.icon.icon-add::before
	content: $new
.icon.icon-save::before
	content: $save
.icon.icon-reload::before
	content: $clear
.icon.icon-lock::before, .icon-locked::before
	content: $close
.icon.icon-unlock::before, .icon-unlocked::before
	content: $open
.icon.icon-checked::before
	content: $apply
.icon.icon-issue::before
	content: '\e065'
.icon.icon-issue-closed::before
	content: $apply
.icon.icon-issue-edit::before
	content: $apply
.icon-edit::before
	content: $edit
.icon.icon-copy::before
	content: '\e14d'
.icon-duplicate
	background-image: url(../images/icons/UI/duplicate.png)
.icon.icon-del::before
	content: $delete
.icon.icon-move::before
	content: $move
.icon.icon-download::after
	content: $download
	display: inline-block
	vertical-align: -5%
	font-family: Material Icons
.icon-cancel
	background-image: url(../images/icons/UI/cancel.png)
.icon-multiple
	background-image: url(../images/icons/UI/table_multiple.png)
.icon-folder:before
	content: '\e2c7'
.open.icon-folder
	background-image: url(../images/icons/UI/folder_open.png)
.icon.icon-package::before
	content: $package
.icon-project
	background-image: url(../images/icons/UI/projects.png)
.icon.icon-attachment::before
	content: $attachment
.icon.icon-history::before
	content: $history
.icon.icon-time-entry::before
	content: $time
.icon.icon-time::before
	content: $time
.icon.icon-attachment::before
	content: $attachment
.icon.icon-time-add::before
	content: $timeadd
.icon-stats
	background-image: url(../images/icons/UI/stats.png)
.icon-warning
	background-image: url(../images/icons/UI/warning.png)
.icon.icon-error::before
	content: "\e002"
	position: relative
	top: 4px
	color: red !important
.icon.icon-fav::before
	content: $favourite
.icon.icon-fav-off::before
	content: $favouriteoff
.icon-report
	background-image: url(../images/icons/UI/report.png)
.icon.icon-comment::before
	content: $comment
.icon.icon-comments::before
	content: $comment
.icon-summary::before
	content: '\e152'
.icon.icon-zoom-in::before
	content: $zoomin
.icon.icon-zoom-out::before
	content: $zoomout
.icon.icon-magnifier::before
	content: $magnifier
.icon-passwd::before
	content: '\e32a'
.icon.icon-arrow-right::before
	content: $sticky
.icon.icon-test::before
	content: $sticky
.icon.icon-sticky::before
	content: $sticky
.icon-email::before
	content: '\e0be'
.icon-email-disabled::before
	content: '\e0e1'
.icon-email-add::before
	content: '\e0d0'
.icon-move-up::before
	content: '\e5d8'
.icon-move-top::before
	content: '\e25a'
.icon-move-down::before
	content: '\e5db'
.icon-move-bottom::before
	content: '\e258'
.icon.icon-ok::before
	content: '\e86c'
	position: relative
	top: 4px
	color: green !important

.icon-not-ok
	background-image: url(../images/icons/UI/false.png)
.icon-actions::before
	content: '\e5d3'

.icon-link-break::before
	content: '\e15d'
	display: inline-block
	vertical-align: -5%
	font-family: "Material Icons"
	padding-right: 10px

.icon-close
	background-image: url(../images/icons/UI/close.png)
	&:hover
		background-image: url(../images/icons/UI/close_hl.png)

.icon-groupnonmember
	background-image: url(../images/icons/UI/group.png)

.icon-groupanonymous
	background-image: url(../images/icons/UI/group.png)

.icon.icon-news::before
	content: $news
	display: inline-block
	vertical-align: -5%

//.icon-issue-closed
	background-image: url(../images/icons/UI/ticket_checked.png)

.icon.icon-issue-note::before
	content: '\e06f'
.icon-changeset::before
	content: '\e255'
.icon.icon-message::before
	content: '\e0c9'
.icon.icon-reply::before
	content: '\e15e'
.icon.wiki-page::before
	content: $edit
.icon.icon-document::before
	content: $document
.icon-add-bullet::before
	content: '\e147'
.icon.icon-stats::before
	content: '\e24b'

.icon-shared
	background-image: url(../images/icons/UI/link.png)

.icon-file
	background-image: url(../images/icons/UI/files/default.png)

.icon-file.text-plain
	background-image: url(../images/icons/UI/files/text.png)

.icon-file.text-x-c
	background-image: url(../images/icons/UI/files/c.png)

.icon-file.text-x-csharp
	background-image: url(../images/icons/UI/files/csharp.png)

.icon-file.text-x-java
	background-image: url(../images/icons/UI/files/java.png)

.icon-file.text-x-javascript
	background-image: url(../images/icons/UI/files/js.png)

.icon-file.text-x-php
	background-image: url(../images/icons/UI/files/php.png)

.icon-file.text-x-ruby
	background-image: url(../images/icons/UI/files/ruby.png)

.icon-file.text-xml
	background-image: url(../images/icons/UI/files/xml.png)

.icon-file.text-css
	background-image: url(../images/icons/UI/files/css.png)

.icon-file.text-html
	background-image: url(../images/icons/UI/files/html.png)

.icon-file.image-gif
	background-image: url(../images/icons/UI/files/image.png)

.icon-file.image-jpeg
	background-image: url(../images/icons/UI/files/image.png)

.icon-file.image-png
	background-image: url(../images/icons/UI/files/image.png)

.icon-file.image-tiff
	background-image: url(../images/icons/UI/files/image.png)

.icon-file.application-pdf
	background-image: url(../images/icons/UI/files/pdf.png)

.icon-file.application-zip
	background-image: url(../images/icons/UI/files/zip.png)

.icon-file.application-x-gzip
	background-image: url(../images/icons/UI/files/zip.png)

.sort-handle.ajax-loading
	background-image: url(../images/icons/UI/loading.gif)

//JS Toolbar
.jstElements button
	background: 0 !important
	font-family: $iconfont
	font-size: 20px
	padding: 0 !important
	font-smooth: always
	cursor: pointer

.jstb_strong::before
	content: $format-bold

.jstb_em::before
	content: $format-italic

.jstb_ins::before
	content: '\e249'

.jstb_ul::before
	content: $format-bulletpoints

.jstb_ol::before
	content: $format-numbered

.jstb_bq::before
	content: $format-quote

.jstb_unbq::before
	content: $format-quote
	text-decoration: line-through

.jstb_link::before
	content: $format-link

.jstb_img::before
	content: $format-image

.jstb_precode::before
	content: $format-code

.jstb_del::before
	content: $format-strikethough

.jstb_pre::before
	content: $format-preformatted

.jstb_help::before
	content: $format-help

.jstb_emoji::before
	content: $format-emoji

.jstb_h1::before
	content: $format-heading1

.jstb_h2::before
	content: $format-heading2

.jstb_h3::before
	content: $format-heading3

.jstb_code::before
	content: $format-inline

//other
fieldset.collapsible legend::before
	font-family: 'Material Icons'
	content: '\e5db'
	transition: 0.5s
	display: inline-block

fieldset.collapsible.collapsed legend::before
	transform: rotate(-90deg)

.toggle-multiselect::before
	font-family: 'Material Icons'
	content: '\e146'
	font-size: 20px
	position: relative
	top: 6px

tr span.expander::before
	font-family: 'Material Icons'
	cursor: pointer
	padding-left: 6px
	content: "\e146"
	font-size: 19px
tr.open span.expander::before
	content: "\e909"

.external::before
	font-family: 'Material Icons'
	content: '\e895'
	color: #333
	vertical-align: -2px
	padding-right: 3px

a.sort
	&.asc::before
		font-family: 'Material Icons'
		content: '\e5c5'
		font-size: 16px
		vertical-align: -3px
	&.desc::before
		font-family: 'Material Icons'
		content: '\e5c7'
		font-size: 16px
		vertical-align: -3px
