//Drop down project selector menu
.drdn
	position: relative
.drdn-trigger
	width: 100%
	height: 24px
	box-sizing: border-box
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap
	padding: 3px 18px 3px 6px
	background: #fff url(../images/icons/UI/sort_desc.png) no-repeat 97% 50%
	cursor: pointer
	user-select: none
	-moz-user-select: none
	-webkit-user-select: none

.drdn-content
	display: none
	position: absolute
	right: 0px
	top: 25px
	min-width: 100px
	border: 1px solid #ccc
	background: white
	z-index: 99
	.quick-search
		margin: 8px

	.autocomplete
		box-sizing: border-box
		width: 100% !important
		height: 28px
		&:focus

.drdn.expanded
	.drdn-trigger
		background-image: url(../images/icons/UI/sort_asc.png)
	.drdn-content
		display: block

.drdn-items
	max-height: 400px
	overflow: auto
	>*
		display: block
		border: 1px solid #fff
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		padding: 4px 8px
		&:focus
			border: 1px dotted #bbb
	>a
		&:hover
			text-decoration: none
	>span
div
	&+.drdn-items
		border-top: 1px solid #ccc
.drdn-items.selection
	>*
		&:before
			content: ' '
			display: inline-block
			line-height: 1em
			width: 1em
			height: 1em
			margin-right: 4px
			font-weight: bold
	>*.selected
		&:before
			content: "\2713 "
	&:empty
		border: none
#project-jump.drdn
	width: 200px
	display: inline-block

#project-jump
	.drdn-trigger
		height: 16px
		display: inline-block
		border-radius: 3px
		border: 1px solid #ccc
		margin: 0 !important
		vertical-align: middle
	.drdn-content
		width: 280px

div.tooltip
	&:hover
		span.tip
			display: block
			position: absolute
			top: 12px
			width: 270px
			border: 1px solid #555
			padding: 4px
			font-size: 0.8em
			background: white
