#main-menu + #main #sidebar
	top: 60px

#header + #main #sidebar
	top: 25px

#sidebar
	float: right
	width: 0
	box-sizing: border-box
	z-index: 1
	padding: 0
	margin: 0
	animation: slide 0s reverse paused
	background: #eee
	position: sticky
	box-shadow: -1px -2px 4px 0px #888
	border-left: 1px solid #ababab
	height: calc(100vh - 159px)
	display: block
	h3
		font-size: 14px
		margin-top: 14px

	hr
		width: 100%
		margin: 0 auto
		height: 1px
		background: #ccc
		border: 0

	.contextual
		margin-right: 1em

	ul
		margin: 0
		padding: 0
		li
			list-style-type: none
			margin: 0px 2px 0px 0px
			padding: 0px 0px 0px 0px


	div.wiki
		ul
			margin: inherit
			padding-left: 40px
			li
				list-style-type: inherit

	a.selected
		line-height: 1.7em
		padding: 1px 3px 2px 2px
		margin-left: -2px
		border-radius: 2px
		font-weight: bold
		&:hover
			text-decoration: none
		&::before
			font-family: 'Material Icons'
			content: '\e315'
			font-size: 18px
			top: 4px
			position: relative

//Day mode night mode
.day-mode
	#sidebar
		background: #eee
.night-mode
	#sidebar
		background: #636363

//Toggle view/hide
#sbartoggle
	display: block
	position: absolute
	left: -24px
	top: 0px
	height: 22px
	width: 24px
	text-align: center
	vertical-align: middle

#sidebar.shown #sbartoggle
	left: 0px

#sidebar.shown
	margin-left: 10px
	padding: 15px 0px 15px 15px
	animation: slide 0.1s normal forwards

#main.nosidebar #sidebar.shown + #content
	width: 100% !important

#sidebar.shown + #content
	width: calc(100% - 230px)
	transition: 0.1s

#sidebar #sbartoggle::before
	font-family: 'Material Icons'
	content: '\e8f4'
	visibility: visible
	cursor: pointer
	font-size: 16px

#sidebar.shown #sbartoggle::before
	font-family: 'Material Icons'
	content: '\e8f5'

@keyframes slide
	0%
		visibility: hidden
		width: 0
	100%
		width: 230px
		visibility: visible

@-moz-keyframes slide
	0%
		visibility: hidden
		width: 0
	100%
		width: 230px
		visibility: visible

@-webkit-keyframes slide
	0%
		visibility: hidden
		width: 0
	100%
		width: 230px
		visibility: visible

@-ms-keyframes slide
	0%
		visibility: hidden
		width: 0
	100%
		width: 230px
		visibility: visible
